<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include("../partials/head-stylesheets.ejs") %>
    <link rel="stylesheet" href="/stylesheets/auth.css">
    <title>Sign In - <%= title %></title>
</head>
<body>
    <%- include("../partials/header.ejs") %>
    <main>
        <h1 class="sign-in-header">Sign In</h1>
        <form class="sign-in-form" action="/auth/sign-in" method="post">
            <label class="sign-in-form-label" for="username">Username</label>
            <input class="sign-in-form-input" type="text" name="username" id="username" placeholder="Enter your username" minlength="3" maxlength="20" required>
            <label class="sign-in-form-label" for="password">Password</label>
            <input class="sign-in-form-input" type="password" name="password" id="password" placeholder="Enter your password" minlength="8" maxlength="128" required>
            <button class="sign-in-form-submitbtn" type="submit">Sign In</button>
            <p>Don't have an account? <a href="/auth/sign-up">Sign up instead</a>.</p>
        </form>
    </main>
    <%- include("../partials/footer.ejs") %>
</body>
</html>