<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign In - <%= title %></title>
</head>

<body>
    <h1>Sign In</h1>
    <form action="/auth/sign-in" method="post">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" placeholder="Enter your username" minlength="3" maxlength="20" required>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" placeholder="Enter your password" minlength="8" maxlength="128" required>
        <button type="submit">Sign In</button>
        <p>Don't have an account? <a href="/auth/sign-up">Sign up instead</a>.</p>
    </form>
</body>

</html>