<footer class="page-footer">
    <div class="page-footer-branding">
        <a href="/"><img class="page-footer-branding-logo" src="/assets/images/logo.png" alt="/dev/log Logo"></a>
        <p class="page-footer-branding-copyright">&copy; 2025 /dev/log</p>
    </div>
    <p class="page-footer-contact">
        <a href="https://www.linkedin.com/in/smhatc" target="_blank">LinkedIn</a> | <a href="https://github.com/smhatc" target="_blank">GitHub</a>
    </p>
</footer>