<header class="page-header">
    <div class="page-header-branding">
        <a href="/"><img class="page-header-branding-logo" src="/assets/images/logo.png" alt="/dev/log Logo"></a>
        <p class="page-header-branding-title"><a href="/"><%= title %></a></p>
    </div>
    <div class="page-header-controls">
        <a href="/auth/sign-in" class="sign-in-link sign-in-outside">Sign In</a>
        <a href="/auth/sign-up" class="sign-up-link sign-up-outside">Sign Up</a>
        <button class="page-header-controls-navmenubtn">&#9776;</button>
    </div>
    <nav class="page-header-navigation">
        <ul class="page-header-navigation-list">
            <li class="page-header-navigation-list-link"><a href="/">Home</a></li>
            <li class="page-header-navigation-list-link"><a href="/new-post">Add Post</a></li>
            <li class="page-header-navigation-list-link"><a href="/about">About</a></li>
            <li class="page-header-navigation-list-link sign-in-inside"><a href="/auth/sign-in" class="sign-in-link">Sign In</a></li>
            <li class="page-header-navigation-list-link sign-up-inside"><a href="/auth/sign-up" class="sign-up-link">Sign Up</a></li>
        </ul>
    </nav>
</header>