.posts-heading {
    /* Centering the title and subtitle, separating them from the window's edges and the below grid */
    width: fit-content;
    padding: 0 2.5em;
    margin: 2.5em auto;
    text-align: center;
}

.posts-grid {
    /* Creating the "grid" using CSS Flexbox */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 20px;
    margin: 2.5em;
}

.posts-grid-item {
    /* Ensuring the grid items share the space correctly, limiting their growth, and aligning the content within them */
    flex: 1 1 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: nowrap;
    max-width: 600px;
    padding: 0.75em;
    border: var(--border-dashed);
    border-radius: var(--border-radius-1);
    background-color: var(--bg-color-2);
}

.posts-grid-item-figure-image {
    /* Ensuring images do not overflow from their containers and are sized properly */
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
    border: var(--border-solid);
    border-radius: var(--border-radius-1);
}

.posts-grid-item-heading {
    /* Adding a slight margin to the top of the grid items' headings */
    margin-top: 0.25em;
}

.posts-grid-item-link {
    /* Styling the page links to look like a button with an added transition effect for hover and focus, also aligning the link text with the arrow icon */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    transition: box-shadow 0.4s ease;
    padding: 0.5em 0.75em;
    margin-top: 0.75em;
    border: var(--border-solid);
    background-color: var(--bg-color-3);
    color: var(--color-text-2);
}

.posts-grid-item-link:hover,
.posts-grid-item-link:focus-visible {
    /* Creating a shadow effect on hover and focus of the links */
    box-shadow: var(--box-shadow-1);
}

.posts-grid-item-link::after {
    /* Disabling the global <a> element's hover and focus effect as this is technically a button */
    content: none;
}

.posts-grid-item-link-arrow {
    /* Correctly sizing the arrow in each of the links */
    width: 1.25em;
    margin-left: 0.25em;
}